<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>

    <!-- <script src="https://cdn.tailwindcss.com"></script> -->
    <script src="/files/css/tailwind_cdn.css"></script>

    <link rel="stylesheet" href="/files/css/icons.css">
    <link rel="icon" href="/files/icons/favicon.svg" sizes="any" type="image/svg+xml">
    {{!--
    <link rel="stylesheet" href="default.css"> --}}
</head>

<body>
    <div class="flex flex-col md:container mx-auto p-4 space-y-8">
        <!-- Header -->
        <header class="text-gray-600">
            <div class="flex flex-wrap flex-col lg:flex-row items-center">
                <!-- Logo + website name -->
                <a href="/" class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round"
                        stroke-linejoin="round" stroke-width="2"
                        class="w-10 h-10 text-white p-2 bg-indigo-500 rounded-full" viewBox="0 0 24 24">
                        <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
                    </svg>
                    <span class="ml-3 text-xl">Flashblocks</span>
                </a>

                <!-- Nav links -->
                <nav
                    class="flex flex-wrap items-center text-base justify-center lg:ml-4 lg:pl-4 lg:border-l lg:border-gray-400	">
                    <a class="mr-4 hover:text-gray-900" href="/products">Products</a>
                    <a class="mr-4 hover:text-gray-900" href="/about">About us</a>
                    <a class="mr-4 hover:text-gray-900" href="/contact">Contact us</a>
                </nav>

                <!-- Search bar -->
                <form action="/search" method="GET" class="flex w-full lg:w-0 lg:flex-grow mt-2 md:mr-4 md:mt-0">
                    <div class="relative w-full">
                        {{!-- Search icon --}}
                        <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                            <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
                            </svg>
                        </div>

                        <input type="search" id="default-search" name="text" value="{{search_text}}"
                            class="block w-full p-4 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500"
                            placeholder="Search text here" required />
                        <button type="submit"
                            class="text-white absolute end-2.5 bottom-2.5 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2">Search</button>
                    </div>
                </form>

                <!-- Account Register Login Cart -->
                <div class="flex space-x-1">
                    {{#if isAuthenticated}}
                    <a href="/account"
                        class="w-1/2 flex items-center bg-gray-100 border-0 py-1 px-3 focus:outline-none hover:bg-gray-200 rounded mt-2 lg:mt-0">
                        <div class="account-icon w-6 h-6"></div>
                        <p class="ml-1">Account</p>
                    </a>
                    {{else}}
                    <a href="/register"
                        class="w-1/2 flex items-center bg-gray-100 border-0 py-1 px-3 focus:outline-none hover:bg-gray-200 rounded mt-2 lg:mt-0">
                        <div class="account-icon w-6 h-6"></div>
                        <p class="ml-1">Register</p>
                    </a>

                    <a href="/login"
                        class="w-1/2 flex items-center bg-gray-100 border-0 py-1 px-3 focus:outline-none hover:bg-gray-200 rounded mt-2 lg:mt-0">
                        <div class="account-icon w-6 h-6"></div>
                        <p class="ml-1">Login</p>
                    </a>
                    {{/if}}

                    <a href="/cart"
                        class="w-1/2 flex items-center bg-gray-100 border-0 py-1 px-3 focus:outline-none hover:bg-gray-200 rounded mt-2 lg:mt-0">
                        <div class="cart-icon w-6 h-6"></div>
                        <p class="ml-1">Cart</p>
                    </a>
                </div>
            </div>
        </header>

        <!-- Divider  -->
        <div class="bg-gray-200 w-full h-[1px]"></div>

        {{!-- Content --}}
        {{{body}}}

        <!-- Divider  -->
        <div class="bg-gray-200 w-full h-[1px]"></div>

        <!-- Footer -->
        <footer class="text-gray-600">
            <div class="flex flex-col md:flex-row">
                <div class="flex flex-col lg:w-1/4 md:w-1/2 items-center md:items-start w-full px-4">
                    <h2 class="title-font font-medium text-gray-900 tracking-widest text-sm mb-3">CATEGORIES</h2>
                    <nav class="list-none mb-10">
                        <li>
                            <a class="text-gray-600 hover:text-gray-800">First Link</a>
                        </li>
                        <li>
                            <a class="text-gray-600 hover:text-gray-800">Second Link</a>
                        </li>
                        <li>
                            <a class="text-gray-600 hover:text-gray-800">Third Link</a>
                        </li>
                        <li>
                            <a class="text-gray-600 hover:text-gray-800">Fourth Link</a>
                        </li>
                    </nav>
                </div>

                <div class="flex flex-col lg:w-1/4 md:w-1/2 items-center md:items-start w-full px-4">
                    <h2 class="title-font font-medium text-gray-900 tracking-widest text-sm mb-3">CATEGORIES</h2>
                    <nav class="list-none mb-10">
                        <li>
                            <a class="text-gray-600 hover:text-gray-800">First Link</a>
                        </li>
                        <li>
                            <a class="text-gray-600 hover:text-gray-800">Second Link</a>
                        </li>
                        <li>
                            <a class="text-gray-600 hover:text-gray-800">Third Link</a>
                        </li>
                        <li>
                            <a class="text-gray-600 hover:text-gray-800">Fourth Link</a>
                        </li>
                    </nav>
                </div>

                <div class="flex flex-col lg:w-1/4 md:w-1/2 items-center md:items-start w-full px-4">
                    <h2 class="title-font font-medium text-gray-900 tracking-widest text-sm mb-3">CATEGORIES</h2>
                    <nav class="list-none mb-10">
                        <li>
                            <a class="text-gray-600 hover:text-gray-800">First Link</a>
                        </li>
                        <li>
                            <a class="text-gray-600 hover:text-gray-800">Second Link</a>
                        </li>
                        <li>
                            <a class="text-gray-600 hover:text-gray-800">Third Link</a>
                        </li>
                        <li>
                            <a class="text-gray-600 hover:text-gray-800">Fourth Link</a>
                        </li>
                    </nav>
                </div>

                <div class="lg:w-1/4 md:w-1/2 w-full px-4">
                    <h2
                        class="title-font font-medium text-gray-900 tracking-widest text-sm mb-3 text-center md:text-start">
                        SUBSCRIBE</h2>
                    <div
                        class="flex xl:flex-nowrap md:flex-nowrap lg:flex-wrap flex-wrap justify-center items-end md:justify-start">
                        <div class="relative w-40 sm:w-auto xl:mr-4 lg:mr-0 sm:mr-4 mr-2">
                            <input type="text" id="footer-field" name="footer-field"
                                class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:bg-transparent focus:ring-2 focus:ring-indigo-200 focus:border-indigo-500 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
                        </div>
                        <button
                            class="lg:mt-2 xl:mt-0 flex-shrink-0 inline-flex text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded">Button</button>
                    </div>
                    <p class="text-gray-500 text-sm mt-2 md:text-left text-center">Bitters chicharrones fanny pack
                        <br class="lg:block hidden">waistcoat green juice
                    </p>
                </div>
            </div>

            <!-- Bottom bar  -->
            <div class="bg-gray-100">
                <div class="px-5 py-6 flex items-center sm:flex-row flex-col">
                    <a class="flex title-font font-medium items-center md:justify-start justify-center text-gray-900">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round"
                            stroke-linejoin="round" stroke-width="2"
                            class="w-10 h-10 text-white p-2 bg-indigo-500 rounded-full" viewBox="0 0 24 24">
                            <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
                        </svg>
                        <span class="ml-3 text-xl">Flashblocks</span>
                    </a>
                    <p class="text-sm text-gray-500 sm:ml-6 sm:mt-0 mt-4">&#169; 2024 Flashblocks</p>
                    <span class="inline-flex sm:ml-auto sm:mt-0 mt-4 justify-center sm:justify-start">
                        <a href="https://facebook.com" rel="noopener noreferrer" target="_blank class=" ml-3">
                            <div class="social-facebook-icon icon-filter w-5 h-5"></div>
                        </a>
                        <a href="https://x.com" rel="noopener noreferrer" target="_blank" class="ml-3">
                            <div class="social-twitter-icon icon-filter w-5 h-5"></div>
                        </a>
                        <a class="ml-3">
                            <div class="social-instagram-icon icon-filter w-5 h-5"></div>
                        </a>
                        <a class="ml-3">
                            <div class="social-linkedin-icon icon-filter w-5 h-5"></div>
                        </a>
                    </span>
                </div>
            </div>
        </footer>
    </div>
    {{#if client_needHandlebars}}
    <script src="/files/js/handlebars.js"></script>
    {{/if}}

    {{#if needUtilities}}
    <script src="/files/js/ajax_utilities.js"></script>
    {{/if}}

    {{#if needFiltering}}
    <script src="/files/js/ajax_search_filtering.js"></script>
    {{/if}}

    {{#if isRegisterPage}}
    <script src="/files/js/ajax_register.js"></script>
    {{/if}}

    {{#if isLoginPage}}
    <script src="/files/js/ajax_login.js"></script>
    {{/if}}

    {{#if isForgetPage}}
    <script src="/files/js/ajax_forget.js"></script>
    {{/if}}

    {{#if isAccountPage}}
    <script src="/files/js/ajax_account.js"></script>
    {{/if}}

    {{#if isAccountDetailPage}}
    <script src="/files/js/ajax_account_detail.js"></script>
    {{/if}}

    {{#if isManageUsersPage}}
    <script src="/files/js/ajax_account_manage_users.js"></script>
    {{/if}}
    
    {{#if isManageProductsPage}}
    <script src="/files/js/ajax_account_manage_products.js"></script>
    {{/if}}

    {{#if isManageOrdersPage}}
    <script src="/files/js/ajax_account_manage_orders.js"></script>
    {{/if}}

    {{#if isManageProductsPage_Insert}}
    <script src="/files/js/ajax_account_insert_product.js"></script>
    {{/if}}

    {{#if isManageProductsPage_Update}}
    <script src="/files/js/ajax_account_update_product.js"></script>
    {{/if}}

    {{#if isCartPage}}
    <script src="/files/js/ajax_cart.js"></script>
    {{/if}}

    {{#if needAddtoCart}}
    <script src="/files/js/ajax_addtocart.js"></script>
    {{/if}}

</body>

</html>